{project_name, seresye}.
{project_vsn, "0.0.4"}.

{compile_args, [debug_info, warnings_as_errors,
               {warn_format, 2}, warn_export_all,
               warn_export_vars, warn_shadow_vars, warn_obsolete_guard,
               warn_unused_import]}.

{ignore_dirs,  ["_",
                ".",
                "features"]}.
